nav {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2px;
}

input{
    padding-left: 12px;
    height: 2.6rem;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px; 
    position: relative;
    width: 14rem;

}

.nav-icons{
    min-height: 1.5rem;
    margin-left: 1.5rem;
    min-width: 2rem;
}